pymongo==3.9.0
paho-mqtt==1.5.0

# Worker general
influxdb
blosc
numpy==1.18.1
scipy
spectrum
sklearn
psutil
joblib
zmq
tornado
pandas==1.0.1

# Routing
shapely
folium
fastparquet
geopandas
geohash_hilbert

# key-value store